.gridOne{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gridTwo{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.gridTwo > .gridTwo-paragraph-one{
    background-color: red;
}

.gridTwo > .gridTwo-paragraph-two{
    background-color: blue;
}

.gridTwo > .gridTwo-paragraph-three{
    background-color: yellow;
}

.gridThree{
    display: grid;
    grid-template-rows: 1fr 3fr;
    background-color: #F7F7F7;
    width: 500px;
    height: 300px;
}

.gridThree > .gridThree-paragraph-two img{
    width: 500px;
    height: 225px;
    object-fit: cover;
}

.gridFour{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 500px;
    background-color: green;
}

#gridFour-ID1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gridFive{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 500px;
    background-color: #F7F7F7;
}

#gridFive-ID1{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#gridFive-ID1 img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}